@model DeveloperAssessment.Web.BlogPost
@{
    ViewData["Title"] = Model.Title;
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="mt-4">@Model.Title</h1>
        <hr />
        <p>Posted on @Model.Date.ToLongDateString()</p>
        <hr />
        @if (!string.IsNullOrEmpty(Model.Image))
        {
            <img class="img-fluid rounded" src="@Model.Image" alt="@Model.Title" />
        }
        <hr />
        @Html.Raw(Model.HtmlContent)
        <hr />
    </div>
</div>
